@import "bourbon/bourbon";
@import "neat/neat";

$emphasis-blue: #33A6E3;

#slash-data {

	#exploreva-head {
		padding-bottom: 15px;
		h1 {
			margin-left: 72px;
		}
	}

	#exploreva-content {
		background: url("http://www.va.gov/explore/images/header-shadow.png") repeat-x scroll 0px 0px transparent;
		padding: 26px 0px 0px;
		
		.mainblock {

			.intro {
				text-align: center;

				p {
					font-size: 24px;
					line-height: 2.2em;
					padding-left: 100px;
					padding-right: 100px;
					padding-bottom: 40px;
				}
			}

			.small-explain {
				color: $emphasis-blue;
				font-size: 10px;
				margin: 10px;
			}

			.download {
				@include button(simple, #33A6E3);
				font-size: 12px;
				a:hover {
					color: white;
				}
			}


			.button {
				@include button(simple, #33A6E3);
				font-size: 18px;
				font-weight: 300;
			}

			h3 {
				color: #33A6E3;
				font-family: Arial,Helvetica,sans-serif;
				font-size: 18px;
				font-weight: 700;
			}
			
			h2 {
				font-size: 24px;
			}

			p {
				color: #4D4D4D;
			}

			.triplets {
				text-align: center;
			}

			.triplet {
				width: 33%;
				display: inline-block;
				vertical-align: top;
				p {
					padding: 20px;
				}
				a:hover {
					color: #33A6E3;
				}
			}

			.section {
				p {
					padding: 20px 60px;
					font-size: 18px;
					text-align: center;
				}
			}

			.data-link {
				font-size: 18px;
				font-weight: 700;
				text-align: center;
				a {
					color: #33A6E3;
				}
			}

			#feedback {
				border-top: 5px solid rgb(202, 18, 47);
				background: #EAEAEC;
				padding: 4em 80px;
				text-align: center;
				margin: 80px 60px;

				p {
					padding: 0px;
				}

				.button {
					margin-top: 20px;
				}
			}

			.divider {
				width: 100%;
				height: 1px;
				background-color: #4D4D4D;
				text-align: center;
				margin-top: 80px;
				margin-bottom: 40px;
				// margin: 40px 0px;
				// margin-bottom: 40px;
				// padding: 30px;

				.text {
					background-color: white;
					position: relative;
					top: -0.9em;
					padding: 0px 30px;
				}
			}
		}



		h1 {
			// color: black;
		}

	}
}
